# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/

# Build outputs
dist/
build/
.cache/
.docusaurus/
release/

# Env files
.env
.env.*
!.env.example
